In [26]:
import numpy as np
import pandas as pd

s1 = pd.Series(np.random.randn(9),
          index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],[1, 2, 3, 1, 2, 3, 1, 2, 3]]
          )
s1

a  1    0.523458
   2   -0.850232
   3   -1.167597
b  1   -1.373655
   2   -0.659417
c  3    0.619358
   1   -0.483242
d  2    0.467360
   3   -0.027764
dtype: float64

In [27]:
s1.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 2),
            ('c', 3),
            ('c', 1),
            ('d', 2),
            ('d', 3)],
           )

In [28]:
display(s1)

a  1    0.523458
   2   -0.850232
   3   -1.167597
b  1   -1.373655
   2   -0.659417
c  3    0.619358
   1   -0.483242
d  2    0.467360
   3   -0.027764
dtype: float64

In [29]:
s1['a']

1    0.523458
2   -0.850232
3   -1.167597
dtype: float64

In [30]:
s1[['b','c']]

b  1   -1.373655
   2   -0.659417
c  3    0.619358
   1   -0.483242
dtype: float64

In [31]:
s1['b':'d']

b  1   -1.373655
   2   -0.659417
c  3    0.619358
   1   -0.483242
d  2    0.467360
   3   -0.027764
dtype: float64

In [36]:
display(s1)
s1['a'][3]

a  1    0.523458
   2   -0.850232
   3   -1.167597
b  1   -1.373655
   2   -0.659417
c  3    0.619358
   1   -0.483242
d  2    0.467360
   3   -0.027764
dtype: float64

-1.167596834538423

In [37]:
s1.loc['b',1]

-1.373655310656547

In [33]:
display(s1)
s1['a'][3]

a  1    0.523458
   2   -0.850232
   3   -1.167597
b  1   -1.373655
   2   -0.659417
c  3    0.619358
   1   -0.483242
d  2    0.467360
   3   -0.027764
dtype: float64

-1.167596834538423

In [34]:
s1.unstack()

          1         2         3
a  0.523458 -0.850232 -1.167597
b -1.373655 -0.659417       NaN
c -0.483242       NaN  0.619358
d       NaN  0.467360 -0.027764

In [35]:
s1.unstack(level=0).T.stack()

a  1    0.523458
   2   -0.850232
   3   -1.167597
b  1   -1.373655
   2   -0.659417
c  1   -0.483242
   3    0.619358
d  2    0.467360
   3   -0.027764
dtype: float64