In [20]:
import numpy as np
import pandas as pd
scores = np.random.randint(50, 100,size=(50,5))
scores_df = pd.DataFrame(scores,
             columns=['國文','英文','數學','地理','歷史'],
             index=range(1,51))
sum_values = scores_df.sum(axis=1)
mean_values = scores_df.mean(axis=1)
scores_df['總分'] = sum_values
scores_df['平均'] = mean_values
scores_df

    國文  英文  數學  地理  歷史   總分    平均
1   93  96  79  70  82  420  84.0
2   61  95  78  58  67  359  71.8
3   96  84  58  70  97  405  81.0
4   82  57  98  81  70  388  77.6
5   98  71  86  82  90  427  85.4
6   65  77  92  73  60  367  73.4
7   90  55  81  66  94  386  77.2
8   79  56  63  97  86  381  76.2
9   75  88  93  83  69  408  81.6
10  70  72  81  63  69  355  71.0
11  51  68  54  65  87  325  65.0
12  70  89  80  65  90  394  78.8
13  67  79  90  58  74  368  73.6
14  72  56  61  94  95  378  75.6
15  79  85  54  99  96  413  82.6
16  95  63  55  72  82  367  73.4
17  86  66  95  63  55  365  73.0
18  97  75  62  72  83  389  77.8
19  59  94  54  61  66  334  66.8
20  97  87  94  63  75  416  83.2
21  95  85  64  86  50  380  76.0
22  57  65  54  63  80  319  63.8
23  81  76  59  85  61  362  72.4
24  62  72  76  68  67  345  69.0
25  95  50  84  62  65  356  71.2
26  85  50  55  71  66  327  65.4
27  80  98  59  68  75  380  76.0
28  60  65  69  97  81  372  74.4
29  82  80  80  73  76  391  78.2
30  97  61  66  77  85  386  77.2
31  62  88  78  80  84  392  78.4
32  50  97  64  72  74  357  71.4
33  90  53  77  87  52  359  71.8
34  88  74  81  98  95  436  87.2
35  95  57  64  64  77  357  71.4
36  93  80  54  67  95  389  77.8
37  92  55  75  76  57  355  71.0
38  73  97  68  67  67  372  74.4
39  77  95  76  95  61  404  80.8
40  50  96  81  92  74  393  78.6
41  85  51  59  76  87  358  71.6
42  59  76  62  97  87  381  76.2
43  96  85  71  57  64  373  74.6
44  76  94  75  78  77  400  80.0
45  61  74  53  61  80  329  65.8
46  60  58  83  96  85  382  76.4
47  80  80  83  60  76  379  75.8
48  84  56  89  78  62  369  73.8
49  62  59  67  63  51  302  60.4
50  99  58  85  77  90  409  81.8

In [23]:
scores_df.sort_values(by='總分',ascending=False).iloc[-5:]

    國文  英文  數學  地理  歷史   總分    平均
45  61  74  53  61  80  329  65.8
26  85  50  55  71  66  327  65.4
11  51  68  54  65  87  325  65.0
22  57  65  54  63  80  319  63.8
49  62  59  67  63  51  302  60.4

In [24]:
scores_df.sort_values(by='總分',ascending=False).iloc[:5]

    國文  英文  數學  地理  歷史   總分    平均
34  88  74  81  98  95  436  87.2
5   98  71  86  82  90  427  85.4
1   93  96  79  70  82  420  84.0
20  97  87  94  63  75  416  83.2
15  79  85  54  99  96  413  82.6

In [36]:
#使用subscript[],過濾資料
scores_df[scores_df['平均'] < 80]

    國文  英文  數學  地理  歷史   總分    平均
2   61  95  78  58  67  359  71.8
4   82  57  98  81  70  388  77.6
6   65  77  92  73  60  367  73.4
7   90  55  81  66  94  386  77.2
8   79  56  63  97  86  381  76.2
10  70  72  81  63  69  355  71.0
11  51  68  54  65  87  325  65.0
12  70  89  80  65  90  394  78.8
13  67  79  90  58  74  368  73.6
14  72  56  61  94  95  378  75.6
16  95  63  55  72  82  367  73.4
17  86  66  95  63  55  365  73.0
18  97  75  62  72  83  389  77.8
19  59  94  54  61  66  334  66.8
21  95  85  64  86  50  380  76.0
22  57  65  54  63  80  319  63.8
23  81  76  59  85  61  362  72.4
24  62  72  76  68  67  345  69.0
25  95  50  84  62  65  356  71.2
26  85  50  55  71  66  327  65.4
27  80  98  59  68  75  380  76.0
28  60  65  69  97  81  372  74.4
29  82  80  80  73  76  391  78.2
30  97  61  66  77  85  386  77.2
31  62  88  78  80  84  392  78.4
32  50  97  64  72  74  357  71.4
33  90  53  77  87  52  359  71.8
35  95  57  64  64  77  357  71.4
36  93  80  54  67  95  389  77.8
37  92  55  75  76  57  355  71.0
38  73  97  68  67  67  372  74.4
40  50  96  81  92  74  393  78.6
41  85  51  59  76  87  358  71.6
42  59  76  62  97  87  381  76.2
43  96  85  71  57  64  373  74.6
45  61  74  53  61  80  329  65.8
46  60  58  83  96  85  382  76.4
47  80  80  83  60  76  379  75.8
48  84  56  89  78  62  369  73.8
49  62  59  67  63  51  302  60.4

In [38]:
#平均80以下，歷史不及格的
scores_df[(scores_df['平均'] < 80) & (scores_df['歷史']<60)]

    國文  英文  數學  地理  歷史   總分    平均
17  86  66  95  63  55  365  73.0
21  95  85  64  86  50  380  76.0
33  90  53  77  87  52  359  71.8
37  92  55  75  76  57  355  71.0
49  62  59  67  63  51  302  60.4