In [11]:
import numpy as np
import pandas as pd

scores = np.random.randint(40, high=101, size=(50,5))
scores_df = pd.DataFrame(scores,
    columns=['國文','英文','數學','地理','歷史'],
    index=range(1,51))    
scores_df.index.name = "學號"
scores_df.columns.name = "科目"
sum_series = scores_df.sum(axis=1)
mean_series = scores_df.mean(axis=1)
#display(sum_series)
rank_series = sum_series.rank(method='min',ascending=False)
scores_df["總分"]= sum_series
scores_df["平均"]= mean_series
scores_df["名次"]= rank_series
scores_df.sort_values(by='名次')

科目   國文   英文   數學  地理  歷史   總分    平均    名次
學號
36  100   73   81  95  80  429  85.8   1.0
5    81   76   88  77  88  410  82.0   2.0
37   80   93   41  97  99  410  82.0   2.0
27   86   43   89  88  96  402  80.4   4.0
30   94   96   72  91  42  395  79.0   5.0
49   85   52   81  98  74  390  78.0   6.0
38   71   48   95  94  73  381  76.2   7.0
33   65   86   98  73  55  377  75.4   8.0
50   47   82   96  56  93  374  74.8   9.0
42   79   72   54  94  73  372  74.4  10.0
35   86   76   87  49  73  371  74.2  11.0
13   77   86   85  42  78  368  73.6  12.0
14   84   94   58  67  63  366  73.2  13.0
15   63  100   53  77  72  365  73.0  14.0
23   71   93  100  49  50  363  72.6  15.0
21   51   89   92  57  74  363  72.6  15.0
18   58   82   76  56  90  362  72.4  17.0
39   95   70   68  87  41  361  72.2  18.0
1    84   81   56  82  57  360  72.0  19.0
32   81   88   49  47  91  356  71.2  20.0
11   43   85   70  96  62  356  71.2  20.0
17   57   73   47  92  86  355  71.0  22.0
47   69   67   96  79  41  352  70.4  23.0
4    70   99   67  65  48  349  69.8  24.0
46   83   56   92  66  51  348  69.6  25.0
48   55   85   75  75  56  346  69.2  26.0
43   42   84   74  45  99  344  68.8  27.0
8    66   97   41  84  55  343  68.6  28.0
24   56   67   95  70  53  341  68.2  29.0
45   98   42   41  59  96  336  67.2  30.0
31   62   43   84  64  78  331  66.2  31.0
7    69   70   86  55  50  330  66.0  32.0
10   41   41   66  93  83  324  64.8  33.0
2    95   41   48  90  49  323  64.6  34.0
28   81   46   72  47  77  323  64.6  34.0
34   83   57   87  52  41  320  64.0  36.0
9    47   42   69  97  62  317  63.4  37.0
26   56   62   59  83  54  314  62.8  38.0
25   75   57   76  56  48  312  62.4  39.0
22   59   42   92  58  47  298  59.6  40.0
40   61   82   60  48  45  296  59.2  41.0
20   49   73   58  72  44  296  59.2  41.0
3    99   41   46  47  62  295  59.0  43.0
19   61   50   45  88  48  292  58.4  44.0
16   55   76   59  48  52  290  58.0  45.0
6    40   53   71  47  77  288  57.6  46.0
41   48   60   71  54  48  281  56.2  47.0
29   47   42   43  69  78  279  55.8  48.0
12   60   60   53  60  41  274  54.8  49.0
44   82   44   46  44  52  268  53.6  50.0

In [ ]:
subject_df = score_df[['國文','英文','數學','地理','歷史']]

In [12]:
def fun1(series:pd.Series) -> int:
    min = series.min()
    median = series.median()
    max = series.max()
    s1 = pd.Series([min,median,max],index=['最低分','中間值','最大值'])    
    return s1

subject_df = scores_df[['國文','英文','數學','地理','歷史']]

frame1 = subject_df.apply(fun1)
frame1

科目      國文     英文     數學    地理    歷史
最低分   40.0   41.0   41.0  42.0  41.0
中間值   69.0   71.0   71.0  68.0  62.0
最大值  100.0  100.0  100.0  98.0  99.0