In [3]:
import numpy as np
import pandas as pd

frame = pd.DataFrame(np.random.randn(4,3),
             columns=['d','f','e'],
             index=['台北','台中','台南','高雄']
             )
frame

           d         f         e
台北  0.580731 -0.462422 -2.511252
台中  0.836628  1.415079  0.714221
台南  2.582635 -1.138761 -1.268294
高雄 -0.179207 -0.162695 -1.356047

In [4]:
np.absolute(frame)

           d         f         e
台北  0.580731  0.462422  2.511252
台中  0.836628  1.415079  0.714221
台南  2.582635  1.138761  1.268294
高雄  0.179207  0.162695  1.356047

In [7]:
for item in frame:
    print(frame[item])

台北    0.580731
台中    0.836628
台南    2.582635
高雄   -0.179207
Name: d, dtype: float64
台北   -0.462422
台中    1.415079
台南   -1.138761
高雄   -0.162695
Name: f, dtype: float64
台北   -2.511252
台中    0.714221
台南   -1.268294
高雄   -1.356047
Name: e, dtype: float64

In [8]:
#使用for in 讀取DataFrame資料
for column in frame:
    for item in frame[column]:
        print(item)
    print("======")

0.5807309745123798
0.8366277692147532
2.5826349227567675
-0.1792074530872668
======
-0.46242154097023075
1.4150785303103552
-1.1387611343623778
-0.16269505216453745
======
-2.511251903266743
0.7142206594687418
-1.268294007968692
-1.3560472385755884
======

In [9]:
#使用for in 讀取DataFrame資料
for column in frame:
    print(np.abs(frame[column]))

台北    0.580731
台中    0.836628
台南    2.582635
高雄    0.179207
Name: d, dtype: float64
台北    0.462422
台中    1.415079
台南    1.138761
高雄    0.162695
Name: f, dtype: float64
台北    2.511252
台中    0.714221
台南    1.268294
高雄    1.356047
Name: e, dtype: float64

In [11]:
np.max(frame,axis=0)

d    2.582635
f    1.415079
e    0.714221
dtype: float64

In [19]:
np.max(frame,axis=1)

台北    0.580731
台中    1.415079
台南    2.582635
高雄   -0.162695
dtype: float64

In [13]:
#使用numpy的function
np.max(frame,axis=0) - np.min(frame,axis=0)

d    2.761842
f    2.553840
e    3.225473
dtype: float64

In [15]:
#使用dataFrame的method
frame.max(axis=0) - frame.min(axis=0)

d    2.761842
f    2.553840
e    3.225473
dtype: float64

In [20]:
def fun1(series):
    print(series.name)
    return series.max() - series.min() + 1

frame.apply(fun1)

d
f
e

d    3.761842
f    3.553840
e    4.225473
dtype: float64