In [76]:
import numpy as np
import pandas as pd

scores = np.random.randint(40, high=101, size=(50,5))
scores_df = pd.DataFrame(scores,
    columns=['國文','英文','數學','地理','歷史'],
    index=range(1,51))    
scores_df.index.name = "學號"
scores_df.columns.name = "科目"
sum_series = scores_df.sum(axis=1)
mean_series = scores_df.mean(axis=1)
#display(sum_series)
rank_series = sum_series.rank(method='min',ascending=False)
scores_df["總分"]= sum_series
scores_df["平均"]= mean_series
scores_df["名次"]= rank_series
scores_df.sort_values(by='名次')

科目  國文   英文   數學   地理   歷史   總分    平均    名次
學號
38  78   97   85   69   94  423  84.6   1.0
4   97   84   77   97   67  422  84.4   2.0
22  98   91   98   73   62  422  84.4   2.0
15  96   81   87   60   95  419  83.8   4.0
39  81   66  100   96   75  418  83.6   5.0
34  90  100   96   57   73  416  83.2   6.0
20  68   97   93   90   64  412  82.4   7.0
16  92   84   85   48  100  409  81.8   8.0
9   92   53   90   82   90  407  81.4   9.0
23  57   99   68   86   94  404  80.8  10.0
24  86   61   99   58   96  400  80.0  11.0
28  90   98   53   77   68  386  77.2  12.0
48  84   96   66   44   90  380  76.0  13.0
2   95   86   58   92   48  379  75.8  14.0
10  72   64   90   91   57  374  74.8  15.0
37  74   72   46   96   82  370  74.0  16.0
27  98   81   52   80   59  370  74.0  16.0
21  92   70   60   95   51  368  73.6  18.0
49  47   99   90   64   66  366  73.2  19.0
47  88   81   57   97   43  366  73.2  19.0
12  85   60   82   88   49  364  72.8  21.0
17  57   98   83   74   45  357  71.4  22.0
5   72   51   90   94   49  356  71.2  23.0
3   49   98   83   50   74  354  70.8  24.0
43  89   82   60   59   63  353  70.6  25.0
33  53   66   44   89   99  351  70.2  26.0
50  87   47   72   71   73  350  70.0  27.0
35  63   74   91   42   78  348  69.6  28.0
26  82   78   84   62   41  347  69.4  29.0
8   81   57   61   48   95  342  68.4  30.0
30  46   78   72   86   57  339  67.8  31.0
19  90   71   40   41   97  339  67.8  31.0
31  58   84   76   61   58  337  67.4  33.0
41  62   40   52  100   82  336  67.2  34.0
32  44   63   69   70   84  330  66.0  35.0
29  69   91   80   44   43  327  65.4  36.0
42  84   42   63   87   50  326  65.2  37.0
1   70   42   62   70   74  318  63.6  38.0
11  64   47   76   87   42  316  63.2  39.0
14  60   67   83   56   49  315  63.0  40.0
6   68   87   63   47   47  312  62.4  41.0
36  57   49   42   73   89  310  62.0  42.0
25  55   43   65   74   72  309  61.8  43.0
40  43   85   53   75   48  304  60.8  44.0
46  42   60   51   84   63  300  60.0  45.0
7   67   57   43   81   52  300  60.0  45.0
13  42   50   55   72   80  299  59.8  47.0
44  50   70   59   46   72  297  59.4  48.0
45  44   45   44   53   84  270  54.0  49.0
18  51   46   64   46   54  261  52.2  50.0

In [77]:
def fun1(series:pd.Series) -> int:
    min = series.min()
    median = series.median()
    max = series.max()
    s1 = pd.Series([min,median,max],index=['最低分','中間值','最大值'])    
    return s1

subject_df = scores_df[['國文','英文','數學','地理','歷史']]

frame1 = subject_df.apply(fun1)
frame1

科目     國文     英文     數學     地理     歷史
最低分  42.0   40.0   40.0   41.0   41.0
中間值  71.0   71.5   68.5   73.0   67.5
最大值  98.0  100.0  100.0  100.0  100.0

In [93]:
def fun2(series:pd.Series) -> pd.Series:
    lessThen60 = series[series<60].count()
    chinese = "及格" if(series['國文'] >= 60)  else "不及格"
    english = "及格" if(series['國文'] >= 60)  else "不及格"

    return pd.Series([lessThen60,chinese,english],index=['不及格數','國文','英文'])
display(subject_df.T)
subject_df.T.apply(fun2).T

學號,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
科目,,,,,,,,,,,,,,,,,,,,,
國文,70,95,49,97,72,68,67,81,92,72,...,62,84,89,50,44,42,88,84,47,87
英文,42,86,98,84,51,87,57,57,53,64,...,40,42,82,70,45,60,81,96,99,47
數學,62,58,83,77,90,63,43,61,90,90,...,52,63,60,59,44,51,57,66,90,72
地理,70,92,50,97,94,47,81,48,82,91,...,100,87,59,46,53,84,97,44,64,71
歷史,74,48,74,67,49,47,52,95,90,57,...,82,50,63,72,84,63,43,90,66,73

   不及格數   國文   英文
學號
1     1   及格   及格
2     2   及格   及格
3     2  不及格  不及格
4     0   及格   及格
5     2   及格   及格
6     2   及格   及格
7     3   及格   及格
8     2   及格   及格
9     1   及格   及格
10    1   及格   及格
11    2   及格   及格
12    1   及格   及格
13    3  不及格  不及格
14    2   及格   及格
15    0   及格   及格
16    1   及格   及格
17    2  不及格  不及格
18    4  不及格  不及格
19    2   及格   及格
20    0   及格   及格
21    1   及格   及格
22    0   及格   及格
23    1  不及格  不及格
24    1   及格   及格
25    2  不及格  不及格
26    1   及格   及格
27    2   及格   及格
28    1   及格   及格
29    2   及格   及格
30    2  不及格  不及格
31    2  不及格  不及格
32    1  不及格  不及格
33    2  不及格  不及格
34    1   及格   及格
35    1   及格   及格
36    3  不及格  不及格
37    1   及格   及格
38    0   及格   及格
39    0   及格   及格
40    3  不及格  不及格
41    2   及格   及格
42    2   及格   及格
43    1   及格   及格
44    3  不及格  不及格
45    4  不及格  不及格
46    2  不及格  不及格
47    2   及格   及格
48    1   及格   及格
49    1  不及格  不及格
50    1   及格   及格

In [87]:
s1 = subject_df.T[4]
s1[s1<60].count()

0